/* @import "@loadingio/transition.css"; */

/**
 * Shared styles between all components
 */
.card {
    background-color: var(--color-bg);
    border-radius: var(--radius);
    padding: var(--space-sm);
}


/* flex utilities */
.flex-x {
    display: flex;
    gap: var(--space-sm);
    flex-direction: row;
    align-items: center;
}

.flex-y {
    display: flex;
    gap: var(--space-sm);
    flex-direction: column;
}

.ai-center {
    align-items: center;
}

.j-center {
    justify-content: center;
}

.ml-auto {
    margin-left: auto;
}

.full-w {
    width: 100%;
}

/* Shimmer/skeleton */
.shimmer {
    animation: shimmer 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    background: linear-gradient(to right, transparent 10%, #0006 50%, transparent 90%);
    background-size: 200% 100%;
    transform-origin: center;
}

@keyframes shimmer {
    from {
        transform: translateX(0px);
    }

    to {
        transform: translateX(200%);
    }
}

@keyframes zoom-load {
    0% {
        opacity: 0;
        transform: scale(1.15);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}