/* @import "@loadingio/transition.css"; */

/**
 * Shared styles between all components
 */
.card {
    background-color: var(--color-bg);
    border-radius: var(--radius);
    padding: var(--space-sm);
}


/* flex utilities */
.flex-x {
    display: flex;
    gap: var(--space-sm);
    flex-direction: row;
    align-items: center;
}

.flex-y {
    display: flex;
    gap: var(--space-sm);
    flex-direction: column;
}

.ml-auto {
    margin-left: auto;
}

/* Shimmer/skeleton */
.shimmer {
    animation: shimmer 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    background: linear-gradient(to right, transparent 10%, #0006 50%, transparent 90%);
    background-size: 200% 100%;
}

@keyframes shimmer {
    from {
        background-position: 0px 0;
    }

    to {
        background-position: -200% 0;
    }
}